main > div.player-form {    
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
}

main > div.player-form > h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}

main > div.player-form > img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

main > div.player-form > form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

main > div.player-form > div.players {   
    border: 2px solid;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > div.player-form> div.players > div.row {
    width: auto;
    display: flex;
    flex-direction:row;
}

main > div.player-form> div.players > div.row > div.players-position {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
}

main > div.player-form > img {
    width: auto;
    height: 25vh;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {

    main > div.player-form {
        width: 100%;
    }    
    
    main > div.player-form > img {
        width: auto;
        height: au;
        border-radius: 50%;
    }
  }