header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #71C671;      
}

header > div.header-info > a {
    text-decoration: none;
    color:rgb(85, 85, 85);
    font-size: 1.2rem;
}

header > div.header-info > a > div.info {   
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
}

header > div.header-info > a > div.info > h2 {   
    font-family: football;    
}

header > div.header-info > a > div.info > img {   
    width: 25%;
    height: 25%;
}

header > div.user-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
}

header > div.user-info > h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;
}

header > div.user-info > img {
    width: 10wh;
    height: 10vh;
    border-radius: 30%;
}

header > div.header-nav {
    background-color: #98FF98;
}

header > div.header-nav > nav > ul {    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    background-color: #98FF98;
    list-style: none;  
    display: flex;
    justify-content: center;
    gap:0.5rem;
    padding: 0.5rem;
}

header > div.header-nav > nav > ul > a {
    text-decoration: none;
    color:black;
}

header > div.header-nav > nav > ul > a > button {
    border: none;
    background: none;
}

@media screen and (min-width: 768px) {

header {  
    flex-direction: row;   
}   

header > div.header-info {
    width: 33%;    
}

header > div.header-info > a > div.info {    
    height: 20vh;
    flex-direction: column;
}

header > div.header-info > a > div.info > img {   
    width: auto;
    height: 50%;
}
    
header > div.user-info {  
    width: 33%;
    display: flex;
    flex-direction: row-reverse;
    gap:0.5rem;
}

header > div.user-info > img {
    width: auto;
    height: 5vh;
}

header > div.header-nav {
    width: 33%;  
    height: auto;   
}

header > div.header-nav > nav > ul { 
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

} /*Aqui termina el media screen*/
